#header{
	width:100%;
	float:left;
	overflow:auto;
}
#header-logo-search-container{
	background:#e10098;
	height:64px;
	width:100%;;
}
#header-logo-search{
	height:64px;
	width:80%;
	margin-left:10%;
	float:left;
}
#header-logo{
	width:170px;
	height:100%;
	background:url('https://assetspwa.liverpool.com.mx/assets/images/logos/liverpool-logo.svg') center no-repeat;
	background-size:100%;
	float:left;
}
#header-whitebar{
	height:38px;
	background:#fff;
	border-bottom:1px solid #d6d6d6;	
}